body {
  font-family: Papyrus, Helvetica, Arial, sans-serif;
  
}
h1 {
  color: aqua;
}

#rum {
  color: #be8939; text-align: center;
}

#chili {
  color: rgb(152, 62, 18);
}

#gohan {
  color: antiquewhite;
}